@import url(http://fonts.googleapis.com/css?family=Slackey);
@import url(http://fonts.googleapis.com/css?family=Andika);
@import url(reset.css);

body {
	background-image: url(../img/debut_dark.png);
	background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	margin: 10px; 
}

/*Box that goes all the way down*/
.box {
	width: 80%;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	margin: 0 auto;
	background-image: url(../img/ricepaper.png);
}

/*box for the top part of the page*/
.main-pagebox {
	background-color: #DCDCE6;
	margin: 0 auto; /*Horizontal centering*/
	box-shadow: 1px 1px 3px;
	margin-bottom: 1em;
}

/*sections of the top box*/
.left,
.nav,
.right {
	width: 32%;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: .2em;
}	

.right {
	text-align: right;
	font-family: "Andika", sans-serif;
}

.right link,
.right visited {
	text-decoration: none;
}


.left {
	font-family: "Andika", sans-serif;
}

.nav {
	text-align: center;
}


h1 {
	font-family: 'Slackey', sans-serif;
	font-size: 72px;
	color: #000; /* #560EAD */
	text-align: center;
}

.logo {
	width: 100px;
	height: 90px;
	border-radius: 10px;
}

/*Different navigation tools*/
nav ul {
	width: 80%;
	margin: 0 auto;
	box-shadow: 1px 1px 1px; 
	border-radius: 5px;
	background-image: url(../img/debut_dark.png);
	padding: 5px;
}

nav li {
	display: inline-block;
}

nav a {
	display: inline-block;
	font-weight: bold;
	font-size: 14px; 
	padding: 10px;
	color: #FFF;
}

nav a:link, 
nav a:visited {
	text-decoration: none;
}

/*hover black over navigation*/
nav a:hover {
	color: #000;
}

.layout {
	background-image: url(../img/debut_dark.png);
	width: 80%;
	margin-left: 10%;
	border-radius: 10px;
	margin-bottom: 1em;
}

/*pizza on the first page*/
.homepagepizza {
	width: 60%;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	height: 300px;
	border-radius: 10px;
}

/*whats hot section*/
.whatshot {
	background-color: #DCDCE6;
	margin-left: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-right: 2%;
	width: 30%;
	border-radius: 10px;
	height: 300px;
	text-align: center;

}

.hotstuff {
	font-family: 'Slackey', sans-serif;
	font-size: 24px;
	margin-bottom: .5em;
}

.happyhour {
	font-family: 'Andika', sans-serif;
	font-size: 18px;
	margin-bottom: .3em;
}

.drinksand {
	margin-bottom: 1.5em;
}

.breadsticks {
	width: 80%;
	margin: 5%;
	margin-bottom: 5%;
	border-radius: 10px;
}

.homepagepizza,
.whatshot {
	display: inline-block;
	vertical-align: bottom;
}


.slogan {
	font-family: 'Andika', sans-serif;
	font-size: 18px;
	position: absolute;
	text-align: center;
	top: 65%;
	left: 25%;
	width: 30%;
	color: #FFF;
}

/*Menu*/

.menu {
	font-family: 'Andika', sans-serif;
	font-size: 36px;
	text-align: center;
	margin-bottom: .5em;
}

.inline {
	background-image: url(../img/debut_dark.png);
	width: 80%;
	height: 370px;
	margin-left: 10%;
	border-radius: 10px;
	margin-bottom: .5em;
}


.types {
	font-family: sans-serif;
	font-size: 26px;
	text-align: center;
}

/*Different pizza sizes text*/
.pizzasizes {
	width: 100%;
	text-align: center;
}

.sizes {
	text-align: center;
	margin-bottom: 1em;
}

/*Customizing your own pizza*/
.customized {
	font-weight: bold;
	font-style: italic;
	text-align: center;
}

.pizza {
	height: 300px;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	border-radius: 10px;
}

.item {
	font-family: 'Andika', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: 24px;
	text-align: left;
	margin-bottom: .3em;
	text-decoration: underline;
}

.meat {
	text-indent: 5%;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}

.meatpies,
.vegetarianpies,
.drinks,
.dessert {
	width: 40%;
}

.meatpies, 
.vegetarianpies {
	display: inline-block;
}

.vegetarianpies {
	float: right;
	clear: both;
}

.drinks,
.dessert {
	display: inline-block;
}

.dessert {
	float: right;
}

dd {
	margin-bottom: 1em;
	padding-left: 10%;
}

/*About Dawg Pizza*/

.about {
	font-family: 'Andika', sans-serif;
	font-size: 30px;
	text-align: left;
	width: 80%;
	margin-bottom: 1em;
}

.aboutheading {
	font-family: sans-serif;
	font-size: 22px;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: .5em;
}

.twitter {
	display: inline-block;
}

.icon {
	width: 4%;
}

.footer {
	margin-top: 1em;
	width: 80%;
	font-size: 14px;
}

.aboutparagraph {
	margin-bottom: 1em;
}
